/* index.css 또는 App.css */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

/* :root 가상 클래스를 사용하여 전체 문서에서 사용할 수 있는 CSS 변수를 정의합니다.
  제공된 커피 테마 색상 팔레트를 변수로 등록하여 재사용성을 높입니다. */
:root {
  --dark-roast: #24160F;
  --espresso: #4E2F1B;
  --coffee-bean: #6A4124;
  --mocha: #8B5A31;
  --latte: #BF793F;
  --cappuccino: #C0946C;
  --macchiato: #D1A87A;
  --caramel: #E2BD8B;
  --vanilla-light: #E2BC8B;
  --cream: #F3C585;
  --milk-foam: #F3E0C0;
  --milk: #F3E0C1;
}

/* body 태그에 기본 스타일을 적용합니다. */
body {
  margin: 0;
  /* 폰트를 'Gamja Flower'로 변경합니다. */
  font-family: 'Gamja Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: var(--milk);
}
/*
  React 앱의 기본 코드에 포함된 .App-logo 스피너 애니메이션을 위한 코드입니다.
  필요 없다면 삭제해도 무방합니다.
*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}